.div-square{
    background-color: rgb(255, 0, 0);
    border-width: 2px;
    height: 150px;
    width: 150px;
    display: inline-block;
    vertical-align: middle;

}
.div-circle{
    background-color: rgb(29, 216, 95);
    border-width: 2px;
    height: 150px;
    width: 150px;
    display: inline-block;
    border-radius: 90px;
    vertical-align: middle;

}


.option{
    border:none;
    display: inline-block;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.98);
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    vertical-align: middle;
    padding-right: 100px;   

}

.youtube-music{
    border:none;
    display: inline-block;
    background-color: rgba(0,0,0,0.8);
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 20px;
    width: 375px;
    height: 100px;
    vertical-align: middle;
}


.youtube-pera{
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 20px;
}

.youtube-pera1{
    color: rgba(243, 239, 239, 0.8);
    padding-left: 20px;
    

}

.tweet{
    display: block;
    margin-top: 30px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.8);
    width: 400px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.img1{
    width: 45px;
    height: 45px;
    border-radius: 90px;
    vertical-align: middle;
    object-fit: cover;
    display: inline-block;


}

.pera2{
    font-size: 18px;
    padding-left: 2px;
    padding-right: 50px;
    vertical-align: middle;
    display: inline-block;

}
.tweet-button{
    vertical-align: middle;
    margin-left:90px;
    background-color: green;
    color: white;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}


.shopping{
    margin-top: 30px;
    display: inline-block;
}

.item{
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.item-name{
    margin-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.item-status{
    margin-top: 5px;
    color: rgba(0,0,0,0.8);
    margin-bottom: 5px;
}
.item-button{
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
    border:none;
}

.sub-div{
    margin-top: 30px;
    display: inline-block;
    margin-right: 20px;
}