.flex-box{
    background-color: rgb(101, 76, 228);
    height: 60px; 
    width: 1150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.8);
    border-radius: 3px;
    align-items: center;
}

p{
    margin: 0px;
    font-size: 19px;
    font-weight: bold;
    color: white;
}

.flex-1{
    width: 100px;
}
.home{
    padding-left: 18px;
    padding-top: 15px;
    padding-right: 1px;
    padding-bottom: 15px;
}

.search{
    width: 650px;
    height: 30px;
    padding-left: 20px;
    border:none;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.8);
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
    
}

.flex-2{
    width: 750px;
}
.flex-3{
    width: 200px;
}

button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    background-color:transparent;
    border-width: 1px;
    border-color: white;
    font-weight: bold;   
    margin-left: 75px; 
    border-radius: 2px;
}
